<%= form_with url: download_appointments_professionals_path, method: :post do |form| %>
  <div class="field">
    <%= form.label :week, "All week" %>
    <%= form.check_box :week %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, discard_minute: true, discard_hour: true %>
  </div>

  <div class="field">
    <%= form.label :professionals %>
    <%= form.collection_select :professionals, @professionals, :id, :name, :include_blank => "All" %>
  </div>

  
  

  <%= form.submit "Download" %>
<% end %>
